JWT_SECRET=NombaJWTToken123

# Postgres Credentials

DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=orbit_pswd
DB_NAME=orbit_engine

DATABASE_URL="postgres://postgres:orbit_pswd@localhost:5433/orbit_engine?schema=public"

# Redis Credentials

REDIS_HOST=localhost
REDIS_PORT=6379

DASHBOARD_URL=http://localhost:5173

# Nomba Credentials

NOMBA_URL="https://sandbox.nomba.com/v1"

NOMBA_SECRET_KEY=NombaHackathon2026

NOMBA_ACCOUNT_ID=
NOMBA_SUB_ACCOUNT_ID=


NOMBA_LIVE_CLIENT_ID=
NOMBA_LIVE_PRIVATE_KEY=

NOMBA_TEST_CLIENT_ID=
NOMBA_TEST_PRIVATE_KEY=

